@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans";
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

html,
body {
  background-color: #e8e8e8;
}

header {
  background-color: #ffe500;
  height: 70px;
  display: flex;
  align-items: center;
}

nav {
  color: #636363;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.card {
  margin-bottom: 20px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  background-color: #fff;
}

.line-bottom{
  border-bottom: 1px solid #d9d9d9;
}

.btn-page-container{
  width: 220px;
  display: grid;
  grid-gap: 20px;
  
}

.btn {
  border-radius: 4px;
  height: 42px;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-blue {
  background-color: #3483f4;
  color: #fff;
}

.btn-white {
  background-color: #fff;
  color: #3483f4;
  border: 1px solid #3483f4;
}

.mb20 {
  margin-bottom: 20px;
}
